:root {
  --rojo-cayena: #D11A2A;
  --rosa-fucsia: #E75480;
  --rosa-pastel: #F4A6B1;
  --amarillo-brillante: #FFD300;
  --amarillo-dorado: #EFBF04;
  --blanco-puro: #FFFFFF;
  --naranja-intenso: #FF6F1D;
  --naranja-melon: #FFA552;
  --morado-purpura: #7E2F8E;
  --rojo-ojito: #8B0000;

  --gris-900: #1A1A1A; /* casi negro */
  --gris-800: #2E2E2E;
  --gris-700: #4D4D4D;
  --gris-600: #6E6E6E;
  --gris-500: #9E9E9E; /* gris medio neutro */
  --gris-400: #BDBDBD;
  --gris-300: #D4D4D4;
  --gris-200: #E0E0E0;
  --gris-100: #F5F5F5;
  --gris-50:  #FAFAFA; /* casi blanco */

  --color-fondo: var(--gris-50);
  --color-texto: var(--gris-900);
  --color-acento: var(--rojo-cayena);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--gris-900);
  background-color: var(--gris-50);
  line-height: 1.6;
}

header {
  width: 100%;
  height: 80px;
  padding: 0 30px;
  background-color: var(--rojo-cayena);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 30px;
}

nav a:hover {
  color: var(--amarillo-dorado);
  transition: color 0.3s ease;
}

ul {
  display: flex;
  gap: 10px;
}

ul li {
  list-style: none;
}

.redes {
  display: flex;
  gap: 10px;
}

.redes a {
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: var(--gris-200);
}

section {

}

article {
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--gris-100);
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

article img {
  width: 350px;
  height: 350px;
}

footer {
  background-color: var(--rojo-cayena);
  color: var(--gris-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  text-align: center;
}

.social-footer {
  display: flex;
  flex-direction: column;
}

footer a {
  color: var(--gris-200);
}

footer a:hover {
  color: var(--rosa-fucsia);
}

@media (max-width: 768px) {

  header nav ul {
    display: none;
  }

  header nav.active ul {
    display: flex;
    flex-direction: column;
  }
  
}
